<!-- index.html.j2 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello from Nginx</title>
</head>
<body>
    <h1>Hello from nginx!</h1>
    <h2>Server IP: {{ server_ip }}</h2>
    <h2>This is newly added line in {{ server_ip }}</h2>
</body>
</html>
